/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

@keyframes scale-like {
  0% {
    scale: 1;
  }

  100% {
    scale: 1.25;
  }
}

@keyframes sparks {
  0% {
    fill: transparent;
  }

  100% {
    fill: var(--animation-color);
  }
}

.like-icon .contour {
  transition: fill 0.1s linear;
}

.like-icon.is-liked .contour {
  transition: fill 0.3s 0.06s linear;
  fill: var(--animation-color);
}

.like-icon .core {
  transition: fill 0.3s 0.03s linear;
}

.like-icon:hover .core {
  transition: fill 0.3s linear;
  fill: var(--main-color);
}

.like-icon.is-liked .core {
  transition: fill 0.3s linear;
  fill: var(--animation-color);
}

.like-icon:active .core {
  transition: fill 0.3s linear;
  fill: var(--animation-color);
}

.like-icon .main-body {
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  transition: fill 0.3s 0.05s linear;
  fill: var(--main-color);
}

.like-icon.is-liked .main-body {
  transition: fill 0.3s 0.05s linear;
  fill: var(--animation-color);
}

.like-icon:active .main-body {
  transition: fill 0.3s 0.05s linear;
  fill: var(--animation-color);
}

.like-icon.is-liked .heart {
  animation: scale-like 0.3s 0.1s ease-in;
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s 0.3s ease-in;
  transform-origin: center;
}